* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.questions {
    text-align: center;
}

.title {
    margin-top: 14vh;
    margin-bottom: 4rem;
}

.title h2 {
    font-size: 2.6rem;
    font-family: cursive;
    color: gold;
}

.section-center {
    width: 90vw;
    max-width: 620px;
    margin: 0 auto;
}

.question {
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 1.5rem 0 1.5rem;
    margin-bottom: 2rem;
}

.question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.question-title p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.12rem;
    margin-bottom: 0;
    letter-spacing: 0.25rem;
    color: black;
}

.question-btn {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: gold;
    transition: all 0.3s linear;
}

.question-btn:hover {
    transform: rotate(90deg);
}

.question-text {
    padding: 1rem 0 1.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.question-text p {
    margin-bottom: 0;
}

/* hide text */
.question-text {
    display: none;
}

.show-text .question-text {
    display: block;
}

.minus-icon {
    display: none;
}

.show-text .minus-icon {
    display: inline;
}

.show-text .plus-icon {
    display: none;
}