* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu {
    padding: 5rem 0;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}

.underline {
    width: 14rem;
    height: 0.25rem;
    background-color: gold;
    margin: 2px auto;
}

.button-container {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}

.filter-btn {
    padding: 6px 10px;
    background-color: white;
    color: gold;
    border: 2px solid goldenrod;
    margin: 0px 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}

.filter-btn:hover {
    color: white;
    background-color: gold;
    transition: 0.3s all linear;
}

.section-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
}

.menu-item {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
}

.menu-item img {
    object-fit: cover;
    height: 200px;
    border: 4px solid goldenrod;
    border-radius: 0.5rem;
}

/* img:not(.logo) {
    width: 100%;
} */
.menu-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted gray;
    text-transform: capitalize;
}

.menu-info h4 {
    letter-spacing: 1.5px;
    font-family: sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.price {
    font-family: sans-serif;
    font-weight: 600;
    color: gold;
}

.menu-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: rgb(63, 63, 63);
    margin-bottom: 0;
    padding-top: 1rem;
    text-transform: capitalize;
}

@media screen and (max-width: 370px) {
    .filter-btn {
        font-size: 0.8rem;
        padding: 4px 8px;
    }
}

@media screen and (min-width: 768px) {
    .menu-item {
        display: flex;
        max-width: 40rem;
    }

    .menu-item img {
        height: 175px;
    }
}

@media screen and (min-width: 1200px) {
    .section-center {
        width: 90vw;
        grid-template-columns: 1fr 1fr;
    }

    .menu-item img {
        height: 150px;
    }
}